
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

@import 'variables';
@import 'style';
@import 'dynamic-button';
@import 'partials/_variables';
@import 'partials/layout';
@import 'partials/mixins';

body {
	font-family: futura-pt, sans-serif;
}
.hero {
  height: 100vh;
  background-size: cover;
  background-position: center center;
}
.present-hero {
  height: 100vh;
  background-size: cover;
  background-position: center center;
  @include media-breakpoint-down(md) {
  }
}
p {
	font-size: 1rem;
}
a {
	&:hover {
		text-decoration: none;
	}
}
.navbar-nav {
	.nav-item {
		line-height: 1.5rem;
		display: inline-block;
		width: auto;
		a {
			color: #fff;
			display: inline;
			width: auto;
			font-size: 1rem;
			padding: 2rem !important;
			display: inline-block;
			font-weight: 700;
			@include media-breakpoint-down(md) {
				height: 55px;
				line-height: 1rem;
				font-size: 0.95rem;
				padding: 2.5rem 0.5rem 3rem 0.5rem !important;
			}
		}
		&:first-of-type {
			background-color: #569b81;
			-webkit-clip-path: polygon(0 0, 100% 0, 100% 84%, 0 100%);
			clip-path: polygon(0 0, 100% 0, 100% 84%, 0 100%);
			transition: ease all 0.5s;
			&:hover {
				transform: scale(1.1);
				z-index: 100;
			}
		}
		&:nth-of-type(2){
				background-color: #b34083;
				-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 93%);
				clip-path: polygon(0 0, 100% 0, 100% 100%, 0 93%);
				transition: ease all 0.5s;
				&:hover {
					transform: scale(1.1);
				z-index: 100;
				}
		}
		&:nth-of-type(3){
				background-color: #3196a2;
				-webkit-clip-path: polygon(0 0, 100% 0%, 100% 80%, 0 89%);
				clip-path: polygon(0 0, 100% 0%, 100% 80%, 0 89%);
				transition: ease all 0.5s;
				&:hover {
					transform: scale(1.1);
				z-index: 100;
				}
		}
		&:nth-of-type(4){
				background-color: #d7888e;
				-webkit-clip-path: polygon(0 0, 100% 0%, 100% 90%, 0 100%);
				clip-path: polygon(0 0, 100% 0%, 100% 90%, 0 100%);
				transition: ease all 0.5s;
				&:hover {
					transform: scale(1.1);
				z-index: 100;
				}
		}
		&:nth-of-type(5){
			background-color: #fff;
			color: #569b81;
			-webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 82%);
			clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 82%);
			transition: ease all 0.5s;
			&:hover {
				transform: scale(1.1);
			z-index: 100;
			}
			a {
				color: #569b81 !important;
			}
		}
	}
}
.camping-info {
	a {
		color: #fff;
		font-weight: 700;
		transition: ease all 0.5s;
		&:hover {
			color: #6f6f6f;
		}
	}
}

.fixed-top {
  padding-top: 0 !important;
}

.logo-container {
  width: 100vw;
  position: absolute;
  height: auto;
  top: 35%;
}

.logo-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.presents-wrapper {
  position: absolute;
  background-color: rgba(21,32,51,0.35);
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
  .presents-inner {
  		color: #ffffff;
  		font-size: 1.15rem;
  }
}

.logo-container {
	h2 {
		font-weight: 700;
		font-size: 1.5rem;
		color: #fff;
		width: 100%;
		@include media-breakpoint-down(md) {
			font-size: 1.2rem;
			text-shadow: 0px 0px 12px rgba(150, 150, 150, 1);
		}
	}
}

img.logo {
	transform: scale(0.5);
	@include media-breakpoint-down(lg) {
		transform: scale(0.65);
		margin-bottom: 1rem;
	}
}

.venue {
	height: 100vh;
	background-size: cover;
	background-position: center center;
	color: #ffffff;
	@include media-breakpoint-down(md) {
		height: 100%;
		.venue-inner{
			padding-bottom: 5rem;
			padding-top: 5rem;
		}
	}
	h2 {
		@include media-breakpoint-down(md) {
			font-size: 1.25rem;
			font-weight: 700;
		}
	}
}

.venue-heading {
	width: 75%;
	@include media-breakpoint-down(md) {
		width: 50%;
	}
}
.stage-times {
	height: 100vh;
	background-size: cover;
	background-position: top left;
	color: #ffffff;
	position: relative;
	background-image: url('/images/stage-times.jpg');
	@include media-breakpoint-down(md) {
		background-image: url('/images/stage-times-mobile.jpg');
		background-position: top center;
	}
	.stage-time-inner {
		position: absolute;
		bottom: 20%;
		h2 {
			font-size: 1.15rem;
			@include media-breakpoint-down(md) {
				font-size: 1.25rem;
			}
		}
	}
}

.wid-100 {
  width: 100vw !important;
}
.fire-img {
  height: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: bottom left;
  @include media-breakpoint-down(sm) {
	height: 70vh;
	text-align: center;
  }
  .staying-over {
  	width: 100%;
	img {
		width: 50%;
		position: absolute;
		left: 25%;
		top: 45%;
	}
  }
}

.camping {
  width: 50vw;
  height: 60vh;
  background-size: cover;
  background-position: bottom left;
}

.camping-info {
  background-color: #152033;
  color: #fff;
}
.btn-primary {
	border-radius: 100px;
	background: transparent;
	border: 1px solid #fff;
	padding-left: 2rem;
	padding-right: 2rem;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1px;
	i {
		transition: ease all 0.5s;
	}
	&:hover {
		background-color: #569b81;
		border-color: #fff;
		i {
			transform: translate(10px);
		}
	}
}
.staying-location {
	text-align: center;
	.staying-location-info {
		height: 100%;
		padding: 20vh 0;
		font-weight: 700;
		font-size: 1.15rem;
		color: #fff;
		transition: 0.5s ease all;
		@include media-breakpoint-down(sm) {
			padding: 20vw;
		}
		.small {
			font-size: 0.9rem;
			font-weight: 400;
		}
		
		&:nth-of-type(n+1) {
			background: #f00;
			transition: 0.5s ease all;
				background-color: rgba(0,0,0,0.5);
				background-image: url('/images/westmead.jpg');
				background-position: center center;
				background-size: cover;
				.hover-copy{
					transition: ease 0.5s all;
				}
				&:hover {
					.hover-copy {
						text-decoration: none;
						transform: scale(1.25);
					}
				}
			 
		}
		&:nth-of-type(n+2) {
			background: #f44;
			transition: 0.5s ease all;
				background-color: rgba(0,0,0,0.5);
				background-image: url('/images/limes.jpg');
				background-position: center center;
				background-size: cover;
				.hover-copy{
					transition: ease 0.5s all;
				}
				&:hover {
					.hover-copy {
						text-decoration: none;
						transform: scale(1.25);
					}
				}
			 
		}
		&:nth-of-type(n+3) {
			background: #b44;
			transition: 0.5s ease all;
				background-color: rgba(0,0,0,0.5);
				background-image: url('/images/abbey.jpg');
				background-position: center center;
				background-size: cover;
				.hover-copy{
					transition: ease 0.5s all;
				}
				&:hover {
					.hover-copy {
						text-decoration: none;
						transform: scale(1.25);
					}
				}
			 
		}
	}
}
.rsvp {
	max-width: 30vw;
}
@media (max-width: 576px) {
	.navbar-nav {
		display: contents !important;
		transform: scale(0.65);
		.nav-item {
			width: auto
			a {
				padding: 2rem !important;
			}
			.fire-img {
				max-height: 50vh;
				background-position: bottom center;
			}
		}
	}
}
.form-group {
	margin-bottom: 0;
}

.form-control {
	height: 60px;
	border-radius: 100px;
}
.inputGroup {
    background-color: #fff;
    display: block;
    margin: 10px 0;
    border-radius: 100px;
    position: relative;
	@include media-breakpoint-down(md) {
		height: 60px;
		width: 49%;
		display: inline-block;
	}
    label {
      padding: 12px 30px;
      border-radius: 100px;
      width: 100%;
      display: block;
      text-align: left;
      color: #3C454C;
      cursor: pointer;
      position: relative;
      z-index: 2;
      transition: color 200ms ease-in;
      overflow: hidden;

      &:before {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        content: '';
        background-color: #5562eb;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale3d(1, 1, 1);
        transition: all 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
        opacity: 0;
        z-index: -1;
      }

      &:after {
        width: 32px;
        height: 32px;
        content: '';
        border: 2px solid #D1D7DC;
        background-color: #fff;
        background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
        background-repeat: no-repeat;
        background-position: 2px 3px;
        border-radius: 50%;
        z-index: 2;
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        transition: all 200ms ease-in;
      }
    }

    input:checked ~ label {
      color: #fff;

      &:before {
        transform: translate(-50%, -50%) scale3d(56, 56, 1);
        opacity: 1;
      }

      &:after {
        background-color: #54E0C7;
        border-color: #54E0C7;
      }
    }

    input {
      width: 32px;
      height: 32px;
      order: 1;
      z-index: 2;
      position: absolute;
      right: 30px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      visibility: hidden;
    }
  }


// codepen formatting
.form {
  padding: 0 16px;
  max-width: 550px;
  margin: 50px auto;
  font-size: 18px;
  font-weight: 600;
  line-height: 36px;
  button {
	@include media-breakpoint-down(md) {
		width: 100%;
		display: block;
	}
  }
}


*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

code {
  padding: 0 8px;
}

