@import url(https://fonts.googleapis.com/css?family=Nunito);/* -------------------------------- 

Primary style

-------------------------------- */

*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  color: #8F3985;
  text-decoration: none;
}

/* -------------------------------- 

1. Auto-Hiding Navigation - Simple

-------------------------------- */

.cd-auto-hide-header {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 160px;
  background-color: transparent;
  /* Force Hardware Acceleration */
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.cd-auto-hide-header::after {
  clear: both;
  content: "";
  display: block;
}

.cd-auto-hide-header.is-hidden {
  -webkit-transform: translateY(-130%);
          transform: translateY(-130%);
}

@media only screen and (min-width: 1024px) {
  .cd-auto-hide-header {
    height: 80px;
  }
}

.cd-auto-hide-header .logo,
.cd-auto-hide-header .nav-trigger {
  position: absolute;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.cd-auto-hide-header .logo {
  left: 5%;
}

.cd-auto-hide-header .logo a,
.cd-auto-hide-header .logo img {
  display: block;
}

.cd-auto-hide-header .nav-trigger {
  /* vertically align its content */
  display: table;
  height: 100%;
  padding: 0 1em;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #25283D;
  font-weight: bold;
  right: 0;
  border-left: 1px solid #f2f2f2;
}

.cd-auto-hide-header .nav-trigger span {
  /* vertically align inside parent element */
  display: table-cell;
  vertical-align: middle;
}

.cd-auto-hide-header .nav-trigger em,
.cd-auto-hide-header .nav-trigger em::after,
.cd-auto-hide-header .nav-trigger em::before {
  /* this is the menu icon */
  display: block;
  position: relative;
  height: 2px;
  width: 22px;
  background-color: #25283D;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.cd-auto-hide-header .nav-trigger em {
  /* this is the menu central line */
  margin: 6px auto 14px;
  transition: background-color 0.2s;
}

.cd-auto-hide-header .nav-trigger em::before,
.cd-auto-hide-header .nav-trigger em::after {
  position: absolute;
  content: "";
  left: 0;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.cd-auto-hide-header .nav-trigger em::before {
  /* this is the menu icon top line */
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
}

.cd-auto-hide-header .nav-trigger em::after {
  /* this is the menu icon bottom line */
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
}

@media only screen and (min-width: 1024px) {
  .cd-auto-hide-header .nav-trigger {
    display: none;
  }
}

.cd-auto-hide-header.nav-open .nav-trigger em {
  /* transform menu icon into a 'X' icon */
  background-color: rgba(255, 255, 255, 0);
}

.cd-auto-hide-header.nav-open .nav-trigger em::before {
  /* rotate top line */
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.cd-auto-hide-header.nav-open .nav-trigger em::after {
  /* rotate bottom line */
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.cd-primary-nav {
  display: inline-block;
  float: right;
  height: 100%;
  padding-right: 5%;
}

.cd-primary-nav > ul {
  position: absolute;
  z-index: 2;
  top: 160px;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  display: none;
  box-shadow: 0 14px 20px rgba(0, 0, 0, 0.2);
}

.cd-primary-nav > ul a {
  /* target primary-nav links */
  display: block;
  height: 50px;
  line-height: 50px;
  padding-left: 5%;
  color: #25283D;
  font-size: 1.8rem;
  border-top: 1px solid #f2f2f2;
}

.cd-primary-nav > ul a:hover,
.cd-primary-nav > ul a.active {
  color: #8F3985;
}

@media only screen and (min-width: 1024px) {
  .cd-primary-nav {
    /* vertically align its content */
    display: table;
  }

  .cd-primary-nav > ul {
    /* vertically align inside parent element */
    display: table-cell;
    vertical-align: middle;
    /* reset mobile style */
    position: relative;
    width: auto;
    top: 0;
    padding: 0;
    background-color: transparent;
    box-shadow: none;
  }

  .cd-primary-nav > ul::after {
    clear: both;
    content: "";
    display: block;
  }

  .cd-primary-nav > ul li {
    display: inline-block;
    float: left;
    margin-right: 1.5em;
  }

  .cd-primary-nav > ul li:last-of-type {
    margin-right: 0;
  }

  .cd-primary-nav > ul a {
    /* reset mobile style */
    height: auto;
    line-height: normal;
    padding: 0;
    border: none;
  }
}

.nav-open .cd-primary-nav ul,
.cd-primary-nav ul:target {
  /* 
  	show primary nav - mobile only 
  	:target is used to show navigation on no-js devices
  */
  display: block;
}

@media only screen and (min-width: 1024px) {
  .nav-open .cd-primary-nav ul,
  .cd-primary-nav ul:target {
    display: table-cell;
  }
}

/* -------------------------------- 

2. Auto-Hiding Navigation - with Sub Nav

-------------------------------- */

.cd-secondary-nav {
  position: relative;
  z-index: 1;
  clear: both;
  width: 100%;
  height: 50px;
  background-color: #25283D;
  /* Force Hardware Acceleration */
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.cd-secondary-nav::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  height: 100%;
  width: 35px;
  background: transparent;
  background: linear-gradient(to left, #25283D, rgba(37, 40, 61, 0));
  pointer-events: none;
  transition: opacity 0.2s;
}

.cd-secondary-nav.nav-end::after {
  opacity: 0;
}

.cd-secondary-nav ul,
.cd-secondary-nav li,
.cd-secondary-nav a {
  height: 100%;
}

.cd-secondary-nav ul {
  /* enables a flex context for all its direct children */
  display: flex;
  padding: 0 5%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.cd-secondary-nav ul::after {
  clear: both;
  content: "";
  display: block;
}

.cd-secondary-nav li {
  display: inline-block;
  float: left;
  /* do not shrink - elements float on the right of the element */
  flex-shrink: 0;
}

.cd-secondary-nav li:last-of-type {
  padding-right: 20px;
}

.cd-secondary-nav a {
  display: block;
  color: #ffffff;
  opacity: 0.6;
  line-height: 50px;
  padding: 0 1em;
}

.cd-secondary-nav a:hover,
.cd-secondary-nav a.active {
  opacity: 1;
}

@media only screen and (min-width: 1024px) {
  .cd-secondary-nav {
    height: 70px;
    overflow: visible;
  }

  .cd-secondary-nav ul {
    /* reset mobile style */
    display: block;
    text-align: center;
  }

  .cd-secondary-nav li {
    /* reset mobile style */
    float: none;
    flex-shrink: 1;
  }

  .cd-secondary-nav a {
    line-height: 70px;
  }

  .cd-secondary-nav a.active {
    box-shadow: inset 0 -3px #8F3985;
  }
}

/* -------------------------------- 

3. Auto-Hiding Navigation - with Sub Nav + Hero Image

-------------------------------- */

.cd-secondary-nav.fixed {
  position: fixed;
  top: 160px;
}

.cd-secondary-nav.slide-up {
  -webkit-transform: translateY(-160px);
          transform: translateY(-160px);
}

@media only screen and (min-width: 1024px) {
  .cd-secondary-nav.fixed {
    top: 80px;
    /* fixes a bug where nav and subnab move with a slight delay */
    box-shadow: 0 -6px 0 #25283D;
  }

  .cd-secondary-nav.slide-up {
    -webkit-transform: translateY(-80px);
            transform: translateY(-80px);
  }
}

/* -------------------------------- 

Main content

-------------------------------- */

.cd-main-content {
  padding: 160px 5% 2em;
  overflow: hidden;
}

.cd-main-content.sub-nav {
  /* to be used if there is sub nav */
  padding-top: 210px;
}

.cd-main-content.sub-nav-hero {
  /* to be used if there is hero image + subnav */
  padding-top: 0;
}

.cd-main-content.sub-nav-hero.secondary-nav-fixed {
  margin-top: 50px;
}

.cd-main-content p {
  max-width: 1024px;
  line-height: 1.6;
  margin: 2em auto;
  color: #a5a8a9;
}

@media only screen and (min-width: 1024px) {
  .cd-main-content {
    padding-top: 80px;
  }

  .cd-main-content.sub-nav {
    padding-top: 150px;
  }

  .cd-main-content.sub-nav-hero.secondary-nav-fixed {
    margin-top: 70px;
  }

  .cd-main-content p {
    font-size: 2.4rem;
  }
}

/*
	adjust the positioning of in-page links
	http://nicolasgallagher.com/jump-links-and-viewport-positioning/
*/

.cd-main-content.sub-nav :target::before,
.cd-main-content.sub-nav-hero :target::before {
  display: block;
  content: "";
  margin-top: -50px;
  height: 50px;
  visibility: hidden;
}

@media only screen and (min-width: 1024px) {
  .cd-main-content.sub-nav :target::before,
  .cd-main-content.sub-nav-hero :target::before {
    margin-top: -70px;
    height: 70px;
  }
}

/* -------------------------------- 

Intro Section

-------------------------------- */

.cd-hero {
  /* vertically align its content */
  display: table;
  width: 100%;
  margin-top: 160px;
  height: 300px;
  background-size: cover;
}

.cd-hero .cd-hero-content {
  /* vertically align inside parent element */
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .cd-hero {
    height: 400px;
  }
}

@media only screen and (min-width: 1024px) {
  .cd-hero {
    height: 600px;
    margin-top: 80px;
  }
}

/* -------------------------------- 

Primary style

-------------------------------- */

*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  color: #8F3985;
  text-decoration: none;
}

/* -------------------------------- 

1. Auto-Hiding Navigation - Simple

-------------------------------- */

.cd-auto-hide-header {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 160px;
  background-color: transparent;
  /* Force Hardware Acceleration */
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.cd-auto-hide-header::after {
  clear: both;
  content: "";
  display: block;
}

.cd-auto-hide-header.is-hidden {
  -webkit-transform: translateY(-130%);
          transform: translateY(-130%);
}

@media only screen and (min-width: 1024px) {
  .cd-auto-hide-header {
    height: 80px;
  }
}

.cd-auto-hide-header .logo,
.cd-auto-hide-header .nav-trigger {
  position: absolute;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.cd-auto-hide-header .logo {
  left: 5%;
}

.cd-auto-hide-header .logo a,
.cd-auto-hide-header .logo img {
  display: block;
}

.cd-auto-hide-header .nav-trigger {
  /* vertically align its content */
  display: table;
  height: 100%;
  padding: 0 1em;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #25283D;
  font-weight: bold;
  right: 0;
  border-left: 1px solid #f2f2f2;
}

.cd-auto-hide-header .nav-trigger span {
  /* vertically align inside parent element */
  display: table-cell;
  vertical-align: middle;
}

.cd-auto-hide-header .nav-trigger em,
.cd-auto-hide-header .nav-trigger em::after,
.cd-auto-hide-header .nav-trigger em::before {
  /* this is the menu icon */
  display: block;
  position: relative;
  height: 2px;
  width: 22px;
  background-color: #25283D;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.cd-auto-hide-header .nav-trigger em {
  /* this is the menu central line */
  margin: 6px auto 14px;
  transition: background-color 0.2s;
}

.cd-auto-hide-header .nav-trigger em::before,
.cd-auto-hide-header .nav-trigger em::after {
  position: absolute;
  content: "";
  left: 0;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.cd-auto-hide-header .nav-trigger em::before {
  /* this is the menu icon top line */
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
}

.cd-auto-hide-header .nav-trigger em::after {
  /* this is the menu icon bottom line */
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
}

@media only screen and (min-width: 1024px) {
  .cd-auto-hide-header .nav-trigger {
    display: none;
  }
}

.cd-auto-hide-header.nav-open .nav-trigger em {
  /* transform menu icon into a 'X' icon */
  background-color: rgba(255, 255, 255, 0);
}

.cd-auto-hide-header.nav-open .nav-trigger em::before {
  /* rotate top line */
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.cd-auto-hide-header.nav-open .nav-trigger em::after {
  /* rotate bottom line */
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.cd-primary-nav {
  display: inline-block;
  float: right;
  height: 100%;
  padding-right: 5%;
}

.cd-primary-nav > ul {
  position: absolute;
  z-index: 2;
  top: 160px;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  display: none;
  box-shadow: 0 14px 20px rgba(0, 0, 0, 0.2);
}

.cd-primary-nav > ul a {
  /* target primary-nav links */
  display: block;
  height: 50px;
  line-height: 50px;
  padding-left: 5%;
  color: #25283D;
  font-size: 1.8rem;
  border-top: 1px solid #f2f2f2;
}

.cd-primary-nav > ul a:hover,
.cd-primary-nav > ul a.active {
  color: #8F3985;
}

@media only screen and (min-width: 1024px) {
  .cd-primary-nav {
    /* vertically align its content */
    display: table;
  }

  .cd-primary-nav > ul {
    /* vertically align inside parent element */
    display: table-cell;
    vertical-align: middle;
    /* reset mobile style */
    position: relative;
    width: auto;
    top: 0;
    padding: 0;
    background-color: transparent;
    box-shadow: none;
  }

  .cd-primary-nav > ul::after {
    clear: both;
    content: "";
    display: block;
  }

  .cd-primary-nav > ul li {
    display: inline-block;
    float: left;
    margin-right: 1.5em;
  }

  .cd-primary-nav > ul li:last-of-type {
    margin-right: 0;
  }

  .cd-primary-nav > ul a {
    /* reset mobile style */
    height: auto;
    line-height: normal;
    padding: 0;
    border: none;
  }
}

.nav-open .cd-primary-nav ul,
.cd-primary-nav ul:target {
  /* 
  	show primary nav - mobile only 
  	:target is used to show navigation on no-js devices
  */
  display: block;
}

@media only screen and (min-width: 1024px) {
  .nav-open .cd-primary-nav ul,
  .cd-primary-nav ul:target {
    display: table-cell;
  }
}

/* -------------------------------- 

2. Auto-Hiding Navigation - with Sub Nav

-------------------------------- */

.cd-secondary-nav {
  position: relative;
  z-index: 1;
  clear: both;
  width: 100%;
  height: 50px;
  background-color: #25283D;
  /* Force Hardware Acceleration */
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.cd-secondary-nav::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  height: 100%;
  width: 35px;
  background: transparent;
  background: linear-gradient(to left, #25283D, rgba(37, 40, 61, 0));
  pointer-events: none;
  transition: opacity 0.2s;
}

.cd-secondary-nav.nav-end::after {
  opacity: 0;
}

.cd-secondary-nav ul,
.cd-secondary-nav li,
.cd-secondary-nav a {
  height: 100%;
}

.cd-secondary-nav ul {
  /* enables a flex context for all its direct children */
  display: flex;
  padding: 0 5%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.cd-secondary-nav ul::after {
  clear: both;
  content: "";
  display: block;
}

.cd-secondary-nav li {
  display: inline-block;
  float: left;
  /* do not shrink - elements float on the right of the element */
  flex-shrink: 0;
}

.cd-secondary-nav li:last-of-type {
  padding-right: 20px;
}

.cd-secondary-nav a {
  display: block;
  color: #ffffff;
  opacity: 0.6;
  line-height: 50px;
  padding: 0 1em;
}

.cd-secondary-nav a:hover,
.cd-secondary-nav a.active {
  opacity: 1;
}

@media only screen and (min-width: 1024px) {
  .cd-secondary-nav {
    height: 70px;
    overflow: visible;
  }

  .cd-secondary-nav ul {
    /* reset mobile style */
    display: block;
    text-align: center;
  }

  .cd-secondary-nav li {
    /* reset mobile style */
    float: none;
    flex-shrink: 1;
  }

  .cd-secondary-nav a {
    line-height: 70px;
  }

  .cd-secondary-nav a.active {
    box-shadow: inset 0 -3px #8F3985;
  }
}

/* -------------------------------- 

3. Auto-Hiding Navigation - with Sub Nav + Hero Image

-------------------------------- */

.cd-secondary-nav.fixed {
  position: fixed;
  top: 160px;
}

.cd-secondary-nav.slide-up {
  -webkit-transform: translateY(-160px);
          transform: translateY(-160px);
}

@media only screen and (min-width: 1024px) {
  .cd-secondary-nav.fixed {
    top: 80px;
    /* fixes a bug where nav and subnab move with a slight delay */
    box-shadow: 0 -6px 0 #25283D;
  }

  .cd-secondary-nav.slide-up {
    -webkit-transform: translateY(-80px);
            transform: translateY(-80px);
  }
}

/* -------------------------------- 

Main content

-------------------------------- */

.cd-main-content {
  padding: 160px 5% 2em;
  overflow: hidden;
}

.cd-main-content.sub-nav {
  /* to be used if there is sub nav */
  padding-top: 210px;
}

.cd-main-content.sub-nav-hero {
  /* to be used if there is hero image + subnav */
  padding-top: 0;
}

.cd-main-content.sub-nav-hero.secondary-nav-fixed {
  margin-top: 50px;
}

.cd-main-content p {
  max-width: 1024px;
  line-height: 1.6;
  margin: 2em auto;
  color: #a5a8a9;
}

@media only screen and (min-width: 1024px) {
  .cd-main-content {
    padding-top: 80px;
  }

  .cd-main-content.sub-nav {
    padding-top: 150px;
  }

  .cd-main-content.sub-nav-hero.secondary-nav-fixed {
    margin-top: 70px;
  }

  .cd-main-content p {
    font-size: 2.4rem;
  }
}

/*
	adjust the positioning of in-page links
	http://nicolasgallagher.com/jump-links-and-viewport-positioning/
*/

.cd-main-content.sub-nav :target::before,
.cd-main-content.sub-nav-hero :target::before {
  display: block;
  content: "";
  margin-top: -50px;
  height: 50px;
  visibility: hidden;
}

@media only screen and (min-width: 1024px) {
  .cd-main-content.sub-nav :target::before,
  .cd-main-content.sub-nav-hero :target::before {
    margin-top: -70px;
    height: 70px;
  }
}

/* -------------------------------- 

Intro Section

-------------------------------- */

.cd-hero {
  /* vertically align its content */
  display: table;
  width: 100%;
  margin-top: 160px;
  height: 300px;
  background-size: cover;
}

.cd-hero .cd-hero-content {
  /* vertically align inside parent element */
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .cd-hero {
    height: 400px;
  }
}

@media only screen and (min-width: 1024px) {
  .cd-hero {
    height: 600px;
    margin-top: 80px;
  }
}

body {
  font-family: futura-pt, sans-serif;
}

.hero {
  height: 100vh;
  background-size: cover;
  background-position: center center;
}

.present-hero {
  height: 100vh;
  background-size: cover;
  background-position: center center;
}

p {
  font-size: 1rem;
}

.navbar-nav .nav-item {
  line-height: 1.5rem;
  display: inline-block;
  width: auto;
}

.navbar-nav .nav-item a {
  color: #fff;
  display: inline;
  width: auto;
  font-size: 1rem;
  padding: 2rem !important;
  display: inline-block;
  font-weight: 700;
}

@media (max-width: 991.98px) {
  .navbar-nav .nav-item a {
    height: 55px;
    line-height: 1rem;
    font-size: 0.95rem;
    padding: 2.5rem 0.5rem 3rem 0.5rem !important;
  }
}

.navbar-nav .nav-item:first-of-type {
  background-color: #569b81;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 84%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 84%, 0 100%);
  transition: ease all 0.5s;
}

.navbar-nav .nav-item:first-of-type:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  z-index: 100;
}

.navbar-nav .nav-item:nth-of-type(2) {
  background-color: #b34083;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 93%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 93%);
  transition: ease all 0.5s;
}

.navbar-nav .nav-item:nth-of-type(2):hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  z-index: 100;
}

.navbar-nav .nav-item:nth-of-type(3) {
  background-color: #3196a2;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 80%, 0 89%);
  clip-path: polygon(0 0, 100% 0%, 100% 80%, 0 89%);
  transition: ease all 0.5s;
}

.navbar-nav .nav-item:nth-of-type(3):hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  z-index: 100;
}

.navbar-nav .nav-item:nth-of-type(4) {
  background-color: #d7888e;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 90%, 0 100%);
  clip-path: polygon(0 0, 100% 0%, 100% 90%, 0 100%);
  transition: ease all 0.5s;
}

.navbar-nav .nav-item:nth-of-type(4):hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  z-index: 100;
}

.navbar-nav .nav-item:nth-of-type(5) {
  background-color: #fff;
  color: #569b81;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 82%);
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 82%);
  transition: ease all 0.5s;
}

.navbar-nav .nav-item:nth-of-type(5):hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  z-index: 100;
}

.navbar-nav .nav-item:nth-of-type(5) a {
  color: #569b81 !important;
}

.fixed-top {
  padding-top: 0 !important;
}

.logo-container {
  width: 100vw;
  position: absolute;
  height: auto;
  top: 35%;
}

.logo-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.presents-wrapper {
  position: absolute;
  background-color: rgba(21, 32, 51, 0.35);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.presents-wrapper .presents-inner {
  color: #ffffff;
  font-size: 1.15rem;
}

.logo-container h2 {
  font-weight: 700;
  font-size: 1.5rem;
  color: #fff;
  width: 100%;
}

@media (max-width: 991.98px) {
  .logo-container h2 {
    font-size: 1.2rem;
    text-shadow: 0px 0px 12px #969696;
  }
}

img.logo {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}

@media (max-width: 1199.98px) {
  img.logo {
    -webkit-transform: scale(0.65);
            transform: scale(0.65);
    margin-bottom: 1rem;
  }
}

.venue {
  height: 100vh;
  background-size: cover;
  background-position: center center;
  color: #ffffff;
}

@media (max-width: 991.98px) {
  .venue {
    height: 100%;
  }

  .venue .venue-inner {
    padding-bottom: 5rem;
    padding-top: 5rem;
  }
}

@media (max-width: 991.98px) {
  .venue h2 {
    font-size: 1.25rem;
    font-weight: 700;
  }
}

.venue-heading {
  width: 75%;
}

@media (max-width: 991.98px) {
  .venue-heading {
    width: 50%;
  }
}

.stage-times {
  height: 100vh;
  background-size: cover;
  background-position: top left;
  color: #ffffff;
  position: relative;
  background-image: url("/images/stage-times.jpg");
}

@media (max-width: 991.98px) {
  .stage-times {
    background-image: url("/images/stage-times-mobile.jpg");
    background-position: top center;
  }
}

.stage-times .stage-time-inner {
  position: absolute;
  bottom: 20%;
}

.stage-times .stage-time-inner h2 {
  font-size: 1.15rem;
}

@media (max-width: 991.98px) {
  .stage-times .stage-time-inner h2 {
    font-size: 1.25rem;
  }
}

.wid-100 {
  width: 100vw !important;
}

.fire-img {
  height: 100%;
  background-size: cover;
  background-position: bottom left;
}

@media (max-width: 767.98px) {
  .fire-img {
    height: 70vh;
    text-align: center;
  }
}

.fire-img .staying-over {
  width: 100%;
}

.fire-img .staying-over img {
  width: 50%;
  position: absolute;
  left: 25%;
  top: 45%;
}

.camping {
  width: 50vw;
  height: 60vh;
  background-size: cover;
  background-position: bottom left;
}

.camping-info {
  background-color: #152033;
  color: #fff;
}

.btn-primary {
  border-radius: 100px;
  background: transparent;
  border: 1px solid #fff;
  padding-left: 2rem;
  padding-right: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}

.btn-primary i {
  transition: ease all 0.5s;
}

.btn-primary:hover {
  background-color: #569b81;
  border-color: #fff;
}

.btn-primary:hover i {
  -webkit-transform: translate(10px);
          transform: translate(10px);
}

.staying-location {
  text-align: center;
}

.staying-location .staying-location-info {
  height: 100%;
  padding: 20vh 0;
  font-weight: 700;
  font-size: 1.15rem;
  color: #fff;
  transition: 0.5s ease all;
}

@media (max-width: 767.98px) {
  .staying-location .staying-location-info {
    padding: 20vw;
  }
}

.staying-location .staying-location-info .small {
  font-size: 0.9rem;
  font-weight: 400;
}

.staying-location .staying-location-info:nth-of-type(n+1) {
  background: #f00;
  transition: 0.5s ease all;
}

.staying-location .staying-location-info:nth-of-type(n+1):hover,
.staying-location .staying-location-info:nth-of-type(n+1):active,
.staying-location .staying-location-info:nth-of-type(n+1):focus {
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url("/images/westmead.jpg");
  background-position: center center;
  background-size: cover;
}

.staying-location .staying-location-info:nth-of-type(n+2) {
  background: #f44;
  transition: 0.5s ease all;
}

.staying-location .staying-location-info:nth-of-type(n+2):hover,
.staying-location .staying-location-info:nth-of-type(n+2):active,
.staying-location .staying-location-info:nth-of-type(n+2):focus {
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url("/images/limes.jpg");
  background-position: center center;
  background-size: cover;
}

.staying-location .staying-location-info:nth-of-type(n+3) {
  background: #b44;
  transition: 0.5s ease all;
}

.staying-location .staying-location-info:nth-of-type(n+3):hover,
.staying-location .staying-location-info:nth-of-type(n+3):active,
.staying-location .staying-location-info:nth-of-type(n+3):focus {
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url("/images/abbey.jpg");
  background-position: center center;
  background-size: cover;
}

.rsvp {
  max-width: 30vw;
}

@media (max-width: 576px) {
  .navbar-nav {
    display: contents !important;
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }

  .navbar-nav .nav-item {
    width: auto a;
    width-padding: 2rem !important;
  }

  .navbar-nav .nav-item .fire-img {
    max-height: 50vh;
    background-position: bottom center;
  }
}

/*@media (max-width: 576px)
.nav-item > a
padding: 1rem*/

body {
  font-family: futura-pt, sans-serif;
}

.hero {
  height: 100vh;
  background-size: cover;
  background-position: center center;
}

.present-hero {
  height: 100vh;
  background-size: cover;
  background-position: center center;
}

p {
  font-size: 1rem;
}

a:hover {
  text-decoration: none;
}

.navbar-nav .nav-item {
  line-height: 1.5rem;
  display: inline-block;
  width: auto;
}

.navbar-nav .nav-item a {
  color: #fff;
  display: inline;
  width: auto;
  font-size: 1rem;
  padding: 2rem !important;
  display: inline-block;
  font-weight: 700;
}

@media (max-width: 991.98px) {
  .navbar-nav .nav-item a {
    height: 55px;
    line-height: 1rem;
    font-size: 0.95rem;
    padding: 2.5rem 0.5rem 3rem 0.5rem !important;
  }
}

.navbar-nav .nav-item:first-of-type {
  background-color: #569b81;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 84%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 84%, 0 100%);
  transition: ease all 0.5s;
}

.navbar-nav .nav-item:first-of-type:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  z-index: 100;
}

.navbar-nav .nav-item:nth-of-type(2) {
  background-color: #b34083;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 93%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 93%);
  transition: ease all 0.5s;
}

.navbar-nav .nav-item:nth-of-type(2):hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  z-index: 100;
}

.navbar-nav .nav-item:nth-of-type(3) {
  background-color: #3196a2;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 80%, 0 89%);
  clip-path: polygon(0 0, 100% 0%, 100% 80%, 0 89%);
  transition: ease all 0.5s;
}

.navbar-nav .nav-item:nth-of-type(3):hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  z-index: 100;
}

.navbar-nav .nav-item:nth-of-type(4) {
  background-color: #d7888e;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 90%, 0 100%);
  clip-path: polygon(0 0, 100% 0%, 100% 90%, 0 100%);
  transition: ease all 0.5s;
}

.navbar-nav .nav-item:nth-of-type(4):hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  z-index: 100;
}

.navbar-nav .nav-item:nth-of-type(5) {
  background-color: #fff;
  color: #569b81;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 82%);
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 82%);
  transition: ease all 0.5s;
}

.navbar-nav .nav-item:nth-of-type(5):hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  z-index: 100;
}

.navbar-nav .nav-item:nth-of-type(5) a {
  color: #569b81 !important;
}

.fixed-top {
  padding-top: 0 !important;
}

.logo-container {
  width: 100vw;
  position: absolute;
  height: auto;
  top: 35%;
}

.logo-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.presents-wrapper {
  position: absolute;
  background-color: rgba(21, 32, 51, 0.35);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.presents-wrapper .presents-inner {
  color: #ffffff;
  font-size: 1.15rem;
}

.logo-container h2 {
  font-weight: 700;
  font-size: 1.5rem;
  color: #fff;
  width: 100%;
}

@media (max-width: 991.98px) {
  .logo-container h2 {
    font-size: 1.2rem;
    text-shadow: 0px 0px 12px #969696;
  }
}

img.logo {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}

@media (max-width: 1199.98px) {
  img.logo {
    -webkit-transform: scale(0.65);
            transform: scale(0.65);
    margin-bottom: 1rem;
  }
}

.venue {
  height: 100vh;
  background-size: cover;
  background-position: center center;
  color: #ffffff;
}

@media (max-width: 991.98px) {
  .venue {
    height: 100%;
  }

  .venue .venue-inner {
    padding-bottom: 5rem;
    padding-top: 5rem;
  }
}

@media (max-width: 991.98px) {
  .venue h2 {
    font-size: 1.25rem;
    font-weight: 700;
  }
}

.venue-heading {
  width: 75%;
}

@media (max-width: 991.98px) {
  .venue-heading {
    width: 50%;
  }
}

.stage-times {
  height: 100vh;
  background-size: cover;
  background-position: top left;
  color: #ffffff;
  position: relative;
  background-image: url("/images/stage-times.jpg");
}

@media (max-width: 991.98px) {
  .stage-times {
    background-image: url("/images/stage-times-mobile.jpg");
    background-position: top center;
  }
}

.stage-times .stage-time-inner {
  position: absolute;
  bottom: 20%;
}

.stage-times .stage-time-inner h2 {
  font-size: 1.15rem;
}

@media (max-width: 991.98px) {
  .stage-times .stage-time-inner h2 {
    font-size: 1.25rem;
  }
}

.wid-100 {
  width: 100vw !important;
}

.fire-img {
  height: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: bottom left;
}

@media (max-width: 767.98px) {
  .fire-img {
    height: 70vh;
    text-align: center;
  }
}

.fire-img .staying-over {
  width: 100%;
}

.fire-img .staying-over img {
  width: 50%;
  position: absolute;
  left: 25%;
  top: 45%;
}

.camping {
  width: 50vw;
  height: 60vh;
  background-size: cover;
  background-position: bottom left;
}

.camping-info {
  background-color: #152033;
  color: #fff;
}

.btn-primary {
  border-radius: 100px;
  background: transparent;
  border: 1px solid #fff;
  padding-left: 2rem;
  padding-right: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}

.btn-primary i {
  transition: ease all 0.5s;
}

.btn-primary:hover {
  background-color: #569b81;
  border-color: #fff;
}

.btn-primary:hover i {
  -webkit-transform: translate(10px);
          transform: translate(10px);
}

.staying-location {
  text-align: center;
}

.staying-location .staying-location-info {
  height: 100%;
  padding: 20vh 0;
  font-weight: 700;
  font-size: 1.15rem;
  color: #fff;
  transition: 0.5s ease all;
}

@media (max-width: 767.98px) {
  .staying-location .staying-location-info {
    padding: 20vw;
  }
}

.staying-location .staying-location-info .small {
  font-size: 0.9rem;
  font-weight: 400;
}

.staying-location .staying-location-info:nth-of-type(n+1) {
  background: #f00;
  transition: 0.5s ease all;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url("/images/westmead.jpg");
  background-position: center center;
  background-size: cover;
}

.staying-location .staying-location-info:nth-of-type(n+1) .hover-copy {
  transition: ease 0.5s all;
}

.staying-location .staying-location-info:nth-of-type(n+1):hover .hover-copy {
  text-decoration: none;
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

.staying-location .staying-location-info:nth-of-type(n+2) {
  background: #f44;
  transition: 0.5s ease all;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url("/images/limes.jpg");
  background-position: center center;
  background-size: cover;
}

.staying-location .staying-location-info:nth-of-type(n+2) .hover-copy {
  transition: ease 0.5s all;
}

.staying-location .staying-location-info:nth-of-type(n+2):hover .hover-copy {
  text-decoration: none;
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

.staying-location .staying-location-info:nth-of-type(n+3) {
  background: #b44;
  transition: 0.5s ease all;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url("/images/abbey.jpg");
  background-position: center center;
  background-size: cover;
}

.staying-location .staying-location-info:nth-of-type(n+3) .hover-copy {
  transition: ease 0.5s all;
}

.staying-location .staying-location-info:nth-of-type(n+3):hover .hover-copy {
  text-decoration: none;
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

.rsvp {
  max-width: 30vw;
}

@media (max-width: 576px) {
  .navbar-nav {
    display: contents !important;
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }

  .navbar-nav .nav-item {
    width: auto a;
    width-padding: 2rem !important;
  }

  .navbar-nav .nav-item .fire-img {
    max-height: 50vh;
    background-position: bottom center;
  }
}

.form-group {
  margin-bottom: 0;
}

.form-control {
  height: 60px;
  border-radius: 100px;
}

.inputGroup {
  background-color: #fff;
  display: block;
  margin: 10px 0;
  border-radius: 100px;
  position: relative;
}

@media (max-width: 991.98px) {
  .inputGroup {
    height: 60px;
    width: 49%;
    display: inline-block;
  }
}

.inputGroup label {
  padding: 12px 30px;
  border-radius: 100px;
  width: 100%;
  display: block;
  text-align: left;
  color: #3C454C;
  cursor: pointer;
  position: relative;
  z-index: 2;
  transition: color 200ms ease-in;
  overflow: hidden;
}

.inputGroup label:before {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  content: "";
  background-color: #5562eb;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale3d(1, 1, 1);
          transform: translate(-50%, -50%) scale3d(1, 1, 1);
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  z-index: -1;
}

.inputGroup label:after {
  width: 32px;
  height: 32px;
  content: "";
  border: 2px solid #D1D7DC;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 2px 3px;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  right: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  transition: all 200ms ease-in;
}

.inputGroup input:checked ~ label {
  color: #fff;
}

.inputGroup input:checked ~ label:before {
  -webkit-transform: translate(-50%, -50%) scale3d(56, 56, 1);
          transform: translate(-50%, -50%) scale3d(56, 56, 1);
  opacity: 1;
}

.inputGroup input:checked ~ label:after {
  background-color: #54E0C7;
  border-color: #54E0C7;
}

.inputGroup input {
  width: 32px;
  height: 32px;
  order: 1;
  z-index: 2;
  position: absolute;
  right: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  visibility: hidden;
}

.form {
  padding: 0 16px;
  max-width: 550px;
  margin: 50px auto;
  font-size: 18px;
  font-weight: 600;
  line-height: 36px;
}

@media (max-width: 991.98px) {
  .form button {
    width: 100%;
    display: block;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

code {
  padding: 0 8px;
}

